$color1 : rgb(50, 50, 50);

* {
    // margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f0f0f0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.container {

    h1 {
        text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
        color: $color1
    }

    input {
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #000;
        width: 300px;
        text-align: center;
        font-size: 1rem;
        margin-bottom: 20px;
    }
}